.form__labelText {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  margin-right: 5px;
}

.form__fieldset {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  padding: 20px;
  margin: 20px 0;
}

.form__field {
  border: 1px solid hsl(0, 0%, 83%);
  padding: 10px;
  width: 100%;
  max-width: 350px;
}

.form__label--asterisk {
  color: hsl(177, 70%, 41%);
  font-weight: bold;
}

.form__field:required {
  border: 1px solid hsl(210, 14%, 63%);
}

.form__field--textarea {
  resize: vertical;
  min-height: 100px;
}

.form__field:invalid {
  background-color:  hsl(203, 92%, 75%);
}

.form__field--colorpicker {
  padding: 0;
  border: none;
}

.form__field:disabled {
  background-color: hsl(210, 14%, 73%);
}

.form__field:read-only {
  background-color: hsl(210, 14%, 93%);
}

.form__field--select.form__field--select {
  background-color: hsl(0, 0%, 100%);
}

.form__button {
  width: 100%;
  border: none;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
}

.form__button:hover {
  background-color: hsl(0, 0%, 88%);
}

.form__button:active {
  background-color: hsl(0, 0%, 93%);
}

.form__legend {
  background-color: hsl(0, 0%, 83%);
  color: hsl(0, 0%, 100%);
  padding: 10px;
}